[submodule "public"]
	path = public
	url = git@github.com:FarmradioHangar/FarmradioHangar.github.io.git
[submodule "casper"]
	path = "themes/casper"
	url = git@github.com:vjeantet/hugo-theme-casper.git
