+++
image = "images/2017/placeholder.png"   /* Header images should be stored in static/images/2017/ */
comments = true
share = true
author = "" /* geofrey, johannes, damjan, bart, kassim, farmradio */
tags = [
  "tag1",
  "tag2",
]
menu = ""
date = "2017-01-31T20:47:44+03:00"
title = "post-title"
draft = true
slug = "post-title"

+++
your blog post here

